.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f0f0;
  position: relative;
  background: url('./img/academia02.jpg') no-repeat center center/cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero h1,
.hero p,
.hero .cta-button {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.cta-button {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #1e3a8a;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s, transform 0.3s;
}

.cta-button:hover {
  background-color: #3b59d1;
  transform: translateY(-2px);
}
